<META HTTP-EQUIV="content-type" CONTENT="text/html;charset=SHIFT_JIS">
<HTML>
<HEAD>
<TITLE>Transmission Timing Of Reminder Mail</TITLE>
<link rel="stylesheet" href="../../../css/CommonStyle.css" type="text/css">
<link rel="stylesheet" href="../../../css/ime_mode_ja.css" type="text/css">

<script language="javascript">
	// 親画面のhiddenよりメッセージを取り出して表示
	function setMessage() {
		var send = window.opener.document.getElementById("send").value;
		var lastMailDate = window.opener.document.getElementById("lastMailDate").value;
		var syoukakko = window.opener.document.getElementById("syoukakko").value;
		var syoukakkoToji = window.opener.document.getElementById("syoukakkoToji").value;
		var haishinDt = window.opener.document.getElementById("haishinDt").value;
		var lastSaveDate = window.opener.document.getElementById("lastSaveDate").value;
		var syoukakko = window.opener.document.getElementById("syoukakko").value;
		var syoukakkoToji = window.opener.document.getElementById("syoukakkoToji").value;
		var hozonDt = window.opener.document.getElementById("hozonDt").value;
		<!--
		document.open();
		document.write(send + "<br>" + syoukakko + lastMailDate + haishinDt + syoukakkoToji
				+ "<br>" + syoukakko + lastSaveDate + hozonDt + syoukakkoToji);
		document.close();
		-->
	}
	// 親画面がincludeしているjspHeader.jspのdoSubmitを呼び出す
	function mailSubmit(event) {
		window.opener.doSubmit(event);
	}
</script>
</HEAD>
<body>
<CENTER>
<DIV id="contents">
<br>
<H1 class="title01">Transmission Timing Of Reminder Mail</H1>
<FORM>
	<TABLE style="width: 100%; height: 80px " class="none" border=0 cellSpacing=0 cellPadding=0>
		<TR>
			<TD style="text-align: left;" >
				<script language="javascript">
					setMessage();
				</script>
			</TD>
		</TR>
	</TABLE>
		<DIV id="submenu" class="semaku">
			<input type="button" value="Yes" onclick="mailSubmit('mailSend');window.close();">
			<input type="button" value="No" onclick="mailSubmit('mailSave');window.close();">
			<input type="button" value="Cancel" onclick="javascript:window.close();">
		</DIV>
</FORM>
</DIV>
</CENTER>
</BODY>
</HTML>