<style type="text/css">
<!--
BODY {
	font-family:		"Monospace";
	font-size:			9pt;
	background-image:	url(bgImage.png);
	overflow:			visible;
}
tr,td,input,select,textarea,div,span {
	font-family:		"Monospace";
	font-size:			9pt;
	font-weight:		normal;
	margin:				0px;
	padding:			2px;
}
-->
</style>
